<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUXQwEUd4slh_DPVPJOodmj9lafGhNuMs</string>
	<key>GCM_SENDER_ID</key>
	<string>831299082694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paroquiaSantoAntonioLimao</string>
	<key>PROJECT_ID</key>
	<string>psantoantoniolimao</string>
	<key>STORAGE_BUCKET</key>
	<string>psantoantoniolimao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831299082694:ios:2ea8c38770bd47ca17fac7</string>
	<key>DATABASE_URL</key>
	<string>https://psantoantoniolimao-default-rtdb.firebaseio.com</string>
</dict>
</plist>