<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEOoUEg_xlQBbU2sFTV7BM6GCH7JYFSVU</string>
	<key>GCM_SENDER_ID</key>
	<string>725786636481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paroquiaSantoAntonioLimao</string>
	<key>PROJECT_ID</key>
	<string>paroquaia-santo-antonio-limao</string>
	<key>STORAGE_BUCKET</key>
	<string>paroquaia-santo-antonio-limao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725786636481:ios:d78b3dbf67cce30fad6440</string>
	<key>DATABASE_URL</key>
	<string>https://paroquaia-santo-antonio-limao-default-rtdb.firebaseio.com</string>
</dict>
</plist>